nav{
    background-color: #313636;
    width: auto;
    margin: 20px auto;
}
a{
    text-decoration: none;
    color: #ffffff;
    font-family: inherit;
    padding: 16px, 24px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul li{
    float: left;
}
ul li a{
    display: block;
    padding: 16px 12px;
    text-align: center;
}
ul li a:hover{
    background-color: #5e5d5d;
    color: #ffffff;
}
h1{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 20px 5px;
    /*border: 2px solid #313636;*/
    width: auto;
}
.walter{
    float: left;
    margin: 0 20px 20px 0;
}
.crystal{
    float: right;
    margin: 0 0 20px 20px;
}
p{
    font-size: 20px;
    line-height: 1.5;
    margin: 20px 0;
}


